--test
/* test */
SELECT
--test
--test
	A
,	B
--test
/* multi */
--test
FROM
--test
	TAB1	/*TTESTTESTESTTESETETSSSS */	AS	T1
,	TAB2								AS	T2
,	TABTABTABTABTAB						AS	LONG
--test
WHERE
--test
	1						=	2	+	1
AND	TTESTTESTESTTESETETSSSS	=	T1
--test tests

