--test
/* test */
SELECT
--test
	A
,	B
/* multi */
--test
FROM
--test
	TAB1			AS	T1
,	TAB2			AS	T2
,	TABTABTABTABTAB	AS	LONG
--test
WHERE
--test /*multi*/
	TAB1.NUM	=	2
/* multi */

