body {
  font-size: small;
}

/* options */
#tab_size {
  width: 68px;
}

/* editor */
.editor_parent {
  display: flex;
}

.editor {
  height: 360px;
  width: 50%;
  border: 1px solid gray;
}

/* button */
.button_parent {
  display: flex;
  align-items: center;
}

.button {
  height: 40px;
  width: 100px;
  font-size: 20px;
}

.format_btn {
  margin-left: auto;
}

.copy_btn {
  margin-right: auto;
}

.format_btn:hover .format_balloon {
  display: inline;
}

.format_balloon {
  position: absolute;
  display: none;
  background-color: gray;
  color: white;
}
