[package]
name = "uroborosql-lint-cli"
version = "0.1.0"
authors.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true

[dependencies]
clap = { version = "4.5", features = ["derive"] }
uroborosql-lint = { path = "../uroborosql-lint" }
